################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlannerDAL/.vs/PlannerDAL/v16/Server/sqlite3/storage.ide-wal
